.button {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 100px;
    background: rgba(209, 209, 209, 0.284);
    color: rgb(79, 79, 79);
    transition: box-shadow .2s ease;
}

.button:hover {
    color: rgb(59, 59, 59);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.1);
}

.active {
    background: rgb(228, 255, 78);
}